html, body {
    margin: 0;
    height: 100%;
}
body {
    position: relative;
}
#threejs-container {
    width: 100%;
    height: 100%;
    display: block;
}
.config {
    background-color: white;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    padding: 20px;
    margin: 10px;
    z-index: 2;
}
.config-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}